<link href="https://fonts.googleapis.com/css?family=Josefin+Sans" rel="stylesheet">

  <div class="container-fluid">

    <div class="background">
       <div class="cube"></div>
       <div class="cube"></div>
       <div class="cube"></div>
       <div class="cube"></div>
      <div class="cube"></div>
      <h1> Register</h1>
      <div class='container'>
          
        <h2>or <a href='#'> Login</a></h2>
        <div class='form'>
          <input type="text" value="username" />
        
          <input type='text' value='password' />
       
          <button type='submit' value='Register' (click)="register()">Register </button>
        </div>
    </div>
      
         
      <div>
    </div>
    